{% load static %}

<!DOCTYPE html>
<html class="h-100">
<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    {% if title %}
        <title>Developers Blog - {{ title }}</title>
    {% else %}
        <title>Developers Blog</title>
    {% endif %}
</head>

<body class="d-flex flex-column h-100 main-bg">

    <header class="site-header">

        <!-- Navigation -->

        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Developers Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Profile</a>
                <a class="nav-item nav-link" href="#">Register</a>
                <a class="nav-item nav-link" href="#">Login</a>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">New Post</button>
              </div>
            </div>
          </div>
        </nav>

      </header>
    
    <!-- Main -->

    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock %}
          </div>
          <!-- <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div> -->
        </div>
      </main>

    <!-- Footer -->

    <footer class="footer mt-auto py-3 bg-steel">
        <p class="m-0 text-center text-white">Follow us: 
            <a href="https://facebook.com" target="_blank" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-square ml-3"></i></a>
            <a href="https://twitter.com" target="_blank" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter-square ml-3"></i></a>
            <a href="https://instagram.com" target="_blank" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram-square ml-3"></i></a>
            <a href="https://youtube.com" target="_blank" aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube-square ml-3"></i></a>
        </p>
    </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>